label {
  color: white;
}

form {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}

form > * {
  padding: 10px;
}

button {
  max-width: 300px;
  font-size: large;
}
